/**********************************
Already Existing styles in the site
**********************************/


.menu-heading-page .banner-image, .menu-heading-page .banner-image-header {
    position: relative;
}

.menu-heading-page .banner-image img {
    width: 100%;
    height: auto;
}

.max-1200 {
    max-width: 1200px;
}

.menu-heading-page .banner-image .banner-image-header h1 {
    color: #FFF;
    font-size: 60px;
    line-height: 95px;
    margin: 0;
    position: absolute;
    bottom: 18px;
    text-shadow: 0px 3px 6px rgb(0 0 0);
}

.menu-heading-page .banner-image img {
    width: 100%;
    height: auto;
}

.max-1932, .max-1920, .max-1800, .max-1690, .max-1600, .max-1432, .max-1420, .max-1400, .max-1232, .max-1200, .max-960, .max-360, .max-250 {
    margin: 0 auto;
}



/**********************************
New Styles
**********************************/


/* General Styles */

.bg-gray {
   background-color: #f5f5f5;
}

.padding-tb-lg {
   padding-top: 32px;
   padding-bottom: 32px;
}

.padding-tb-sm {
   padding-top: 12px;
   padding-bottom: 12px;
} 

.landing-page h2 {
   display: inline-block;
   color: #0c2340;
   font-size: 32px;
   font-family: gotham-bold;
   margin-bottom: 50px;
}

.landing-page h2:after {
    content: "";
    display: block;
    width: inherit;
    height: 3px;
    background: #ca0629;
    margin-top: 5px;
}

.landing-page h2 a.minilink {
    font-family: gotham-book;
    font-size: 14px;
    margin-left: 8px;
    text-decoration: none;
    color: #3e7697;
}

p {
  font-size: 22px;
  color: #3e3e3e;
  font-family: gotham-book;
}


/* Fonts */


@font-face {
   font-family: gotham-black;
   src: url(fonts/Gotham-Black.otf);
}

@font-face {
   font-family: gotham-bold;
   src: url(fonts/Gotham-Bold.otf);
}

@font-face {
   font-family: gotham-book;
   src: url(fonts/Gotham-Book.otf);
}

@font-face {
   font-family: gotham-medium;
   src: url(fonts/Gotham-Medium.otf);
}
 


/* Banner Styles */

.lp-banner-image {
   position: relative; 
   overflow: hidden;

   height: 420px;
   background-image: url(img/banner.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
   filter: grayscale(100%);
}

.lp-banner-image:before {
   content: "";
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background: rgb(255 255 255 / 75%); 
}

.lp-banner-header {
   max-width: inherit;
   position: absolute;
   bottom: 18px; 

   color: #292929;
}

.lp-banner-header h1 {
   font-size: 63px;
   font-family: gotham-bold;
   margin-bottom: 20px;
}

.lp-banner-header p {
   font-size: 22px;
   margin-top: 0;
   font-family: gotham-book;
}



/* Refrigertor Sections */ 

.lp-single-product {
   display: block;
   padding: 0 30px;
   margin-bottom: 20px;
}

.lp-single-product-imgdiv {
   position: relative;
   display: block;
   height: 200px;
   overflow: hidden;
   background: #fff;
   padding: 20px 0;
   border-radius: 12px;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition:    all .3s ease-in-out;
  -o-transition:      all .3s ease-in-out;
  -ms-transition:     all .3s ease-in-out;
  transition:         all .3s ease-in-out;
}

.lp-single-product-imgdiv img {
   display: block;
   max-width: 100%;
   height: 100%;
   margin: 0 auto;
}

.lp-single-product-imgdiv:hover {
  box-shadow: -0.518px 1.932px 12px 0px rgba(0, 0, 0, 0.25);
}

.lp-single-product-name {
   display: block;
   text-align: center;
   font-size: 18px;
   margin: 10px 50px 20px;
   font-family: gotham-book;
}

.simple-prod-grid .pure-u-1:first-child .lp-single-product {
    padding-left: 0;
}

.simple-prod-grid .pure-u-1:nth-child(4n) .lp-single-product {
    padding-right: 0;
}

.simple-prod-grid .pure-u-1:nth-child(4n+1) .lp-single-product {
    padding-left: 0;
}



/* Brand Sections */ 

.lp-single-brand {
    position: relative;
    display: block;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
   margin: 0 10px;

   -webkit-transition: all .3s ease-in-out;
  -moz-transition:    all .3s ease-in-out;
  -o-transition:      all .3s ease-in-out;
  -ms-transition:     all .3s ease-in-out;
  transition:         all .3s ease-in-out; 

}

.lp-single-brand:hover {
  box-shadow: -0.518px 1.932px 12px 0px rgba(0, 0, 0, 0.25);
}

.pure-u-1-2:first-child .lp-single-brand {
    margin-left: 0px;
}

.pure-u-1-2:last-child .lp-single-brand {
    margin-right: 0px;
}

.lp-single-brand > img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    max-width: 120%;
    max-height: 120%;

    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lp-single-brand-name {
    display: block;
    height: 50px;
    background-color: rgb(35, 31, 32);
    margin: 0;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.lp-single-brand.bosch .lp-single-brand-name {
   background-color: #ed1b24;
}

.lp-single-brand.ge .lp-single-brand-name {
   background-color: #003c71;
}

.lp-single-brand.lg .lp-single-brand-name {
   background-color: #c31f42;
}

.lp-single-brand.frigid .lp-single-brand-name {
   background-color: #494a49;
}

.lp-single-brand-name img {
    display: block;
    max-width: 75%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lp-single-brand-name-txt {
    display: block;
    font-size: 32px;
    color: #fff;
    width: 100%;
    text-align: center;
    margin: 0;
    font-family: gotham-bold;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/* Picks Sections */ 


.sample-picks-filter {
    display: block;
    margin-bottom: 20px;
}

.sample-picks-filter a {
    display: inline-block;
    text-decoration: none;
}

.sample-picks-filter a {
    display: inline-block;
    text-decoration: none;
    color: #3e3e3e;
    font-size: 16px;
    font-family: gotham-book;
    border: 1px solid #bfbfbf;
    border-radius: 25px;
    padding: 5px 15px;
    margin-right: 6px;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition:    all .3s ease-in-out;
  -o-transition:      all .3s ease-in-out;
  -ms-transition:     all .3s ease-in-out;
  transition:         all .3s ease-in-out; 
}

.sample-picks-filter a.active {
    color: #fff;
    background-color: #0c2340;  
}

.sample-picks-filter a:hover {
  color: #fff;
  background-color: #0c2340;  
}

.lp-single-pick {
   position: relative;
    display: block;
    overflow: hidden;
   margin: 0 10px;
   text-decoration: none;

   border-radius: 7px;
   background-color: rgb(255, 255, 255);
   box-shadow: -0.259px 0.966px 6px 0px rgba(0, 0, 0, 0.25);

    -webkit-transition: all .3s ease-in-out;
  -moz-transition:    all .3s ease-in-out;
  -o-transition:      all .3s ease-in-out;
  -ms-transition:     all .3s ease-in-out;
  transition:         all .3s ease-in-out; 
}

.lp-single-pick:hover {
  box-shadow: -0.518px 1.932px 12px 0px rgba(0, 0, 0, 0.25);
}

.lp-single-pick-imgdiv {
    position: relative;
    display: block;
    height: 260px;
    overflow: hidden;
}

.lp-single-pick-imgdiv img {
    display: block;
    width: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lp-single-pick-content-div {
    padding: 0 12px;
}

.lp-single-pick-sale {
    display: block;
    background-color: #c31f42;
    text-align: center;
    width: 70px;
    height: 25px;
    font-size: 14px;
    font-family: gotham-bold;

    color: #fff;
    line-height: 25px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;

    position: absolute;
    top: 10px;
    left: 10px;
}

.lp-single-pick-name {
    display: block;
    font-size: 14px;
    font-family: gotham-book;
    color: #3e3e3e;
    margin-bottom: 10px;
    line-height: 1.3;
}

.lp-single-pick-save {
    display: block;
    color: #3e3e3e;
    font-size: 16px;
    font-weight: 700;
    font-family: gotham-bold;
    margin-bottom: 10px;
}

.lp-single-pick-price {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #ca0629;
    font-family: gotham-bold;
    margin-bottom: 10px;
}

.lp-single-pick-price em {
    font-size: 14px;
    color: #3e3e3e;
    font-style: normal;
    text-decoration: line-through;
    font-weight: normal;
    font-family: gotham-book;
}

.lp-single-pick-model {
    display: block;
    font-size: 14px;
    color: #a6a6a6;
    font-family: gotham-book;
    margin-bottom: 10px;
}

.lp-single-pick-info {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: #00a651;
    font-family: gotham-book;
    padding-left: 36px;
}

.lp-single-pick-info.delivery {
    background: url(img/delivery.png) no-repeat left;
}

.lp-single-pick-info.stock {
    background: url(img/stock.png) no-repeat left;
}

.lp-single-pick-info.display {
    background: url(img/display.png) no-repeat left;
}

.simple-picks-grid .pure-u-1:first-child .lp-single-pick {
   margin-left: 0;
}

.simple-picks-grid .pure-u-1:nth-child(5n) .lp-single-pick {
   margin-right: 0;
}



/* Offer Sections */ 

.lp-single-offer {
    display: block;
    text-decoration: none;
    padding: 5px 10px 5px 15px;
    border-radius: 10px;

    -webkit-transition: all .3s ease-in-out;
  -moz-transition:    all .3s ease-in-out;
  -o-transition:      all .3s ease-in-out;
  -ms-transition:     all .3s ease-in-out;
  transition:         all .3s ease-in-out; 
}

.lp-single-offer:hover {
    box-shadow: -0.518px 1.932px 12px 0px rgb(0 0 0 / 25%);
}

.lp-single-offer img {
    display: inline-block;
}

.lp-single-offer-title {
    display: inline-block;
    color: #3e3e3e;
    font-size: 20px;
    font-family: gotham-bold;
    vertical-align: top;
    margin-left: 15px;
}

.lp-single-offer-text {
    display: block;
    text-align: left;
    font-size: 15px;
    color: #909090;
    font-family: gotham-book;
    margin-left: 30px;
}






/* Feature Sections */ 

.lp-single-feature {
    display: block;
    overflow: hidden;
    padding: 30px;
    border-radius: 12px;
    text-decoration: none;
    height: calc(100% - 70px);
    
    -webkit-transition: all .3s ease-in-out;
    -moz-transition:    all .3s ease-in-out;
    -o-transition:      all .3s ease-in-out;
    -ms-transition:     all .3s ease-in-out;
    transition:         all .3s ease-in-out;
}

.lp-single-feature:hover {
  box-shadow: -0.518px 1.932px 12px 0px rgba(0, 0, 0, 0.25);
}

.lp-single-feature-imgdiv {
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 12px;
}

.lp-single-feature-imgdiv img {
   display: block;
   min-width: 100%;
   min-height: 100%;
   max-width: 120%;
   max-height: 120%;

   position: absolute;
   top: 50%;
   left: 50%;

   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.lp-single-feature-title {
    display: block;
    font-size: 20px;
    color: #3e3e3e;
    font-family: gotham-bold;
    margin: 20px 0 0;
}

.lp-single-feature-content {
    display: block;
    font-size: 20px;
    color: #3e3e3e;
    font-family: gotham-book;
    margin: 10px 0 0;
}


.pure-u-md-1-3 .lp-single-feature-imgdiv {
    height: 280px;
}



/* Finishes Sections */ 

.lp-single-finish {
    display: block;
    overflow: hidden;
    margin:0 5px 30px;
    text-decoration: none;    
    padding: 15px;
    border-radius: 10px;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition:    all .3s ease-in-out;
    -o-transition:      all .3s ease-in-out;
    -ms-transition:     all .3s ease-in-out;
    transition:         all .3s ease-in-out;
}

.lp-single-finish:hover {
  box-shadow: -0.518px 1.932px 12px 0px rgb(0 0 0 / 25%);
}

.lp-single-finish-imgdiv {
    display: block;
    overflow: hidden;
    max-width: 400px;
    max-height: 220px;
}

.lp-single-finish-imgdiv img {
    display: block;
    width: 100%;
}

.lp-single-finish-name {
    display: block;
    margin: 5px 0 0 10px;
    color: #3e3e3e;
    font-size: 20px;
    font-family: gotham-book;
}



/* Info Sections */ 

.lp-info-section h5 {
    display: block;
    font-size: 20px;
    color: #3e3e3e;
    text-decoration: underline;
    font-family: gotham-bold;
    margin: 0;
}

.lp-info-section p {
    display: block;
    font-size: 20px;
    color: #3e3e3e;
    font-family: gotham-book;
    margin: 10px 0 30px 0 ;
}

.lp-info-section p span {
   color: #3e3e3e;
   font-family: gotham-bold;
}

.lp-info-section p span a {
    font-weight: 400;
    font-family: gotham-book;
}

.lp-info-section p b {
  font-family: gotham-bold;
}

.lp-info-section p a {
  color: #3e7697;
  text-decoration: none;
  font-weight: 700;
}

.lp-info-section p a:hover {
  text-decoration: underline;
}




/* Banner Section */ 

.lp-banner-section {
  text-align: center;
}

.lp-banner-section h3 {
    margin-top: 0;
    color: #3e3e3e;
    font-size: 22px;
    font-family: gotham-bold;
 }

.lp-banner-section p { 
    font-size: 22px;
    color: #3e3e3e;
    font-family: gotham-book;
}

.lp-button {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 25px;
    font-family: gotham-book;
    width: 200px;
    border-radius: 50px;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition:    all .3s ease-in-out;
    -o-transition:      all .3s ease-in-out;
    -ms-transition:     all .3s ease-in-out;
    transition:         all .3s ease-in-out;
}

.lp-button.red {
    background: #ca0629;
}

.lp-button:hover {
  opacity: 0.7;
}

.lp-promo-banner-imgdiv {
    display: block;
    width: calc(100% - 30px);
    overflow: hidden;
}

.lp-promo-banner-imgdiv img{
    display: block;
    width: 100%;
}

.lp-banner-section .lp-promo-banner-imgdiv {
    padding-right: 30px;
}

.lp-promo-banner-imgdiv iframe {
  border-radius: 12px;
  overflow: hidden;
}

.landing-page .vertical_align_div {
  display: block;
  position: relative;
  min-height: 200px;
  height: 100%;
}


.landing-page .vertical_align_content {
  display: block;
  width: 100%;

  position: absolute;
   top: 50%;
   left: 50%;

   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
 }





/* Support Page Section */ 

.pure-g.support-page {
  background-color: rgb(216 216 216 / 10%);
}

.lp-banner-image.support-page {
  position: relative;
  background-image: url(img/support/banner.png);
  height: 420px; 
  background-size: cover;
  background-position: top; 

  -webkit-filter: none;
  filter: none;
}

.lp-banner-image.support-page:before {
  background: none;
}

.lp-banner-image.support-page .center-div {
  display: block;
  width: 100%;
  text-align: center;
  color: #292929;

  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.lp-banner-image.support-page .center-div h1 {
    color: #ca0629;
    font-size: 72px;
    font-family: gotham-bold;
    margin: 0;
}

.lp-banner-image.support-page .center-div p {
    color: #292929;
    font-size: 28px;
    font-weight: 400; 
    font-family: gotham-book;
    margin: 0;
}

.support-page h3 {
  color: #CA0629;
  font-size: 18px;
  font-family: gotham-book;
  margin: 0px; 
  font-weight: 400;
} 

.support-page h2 {
   display: inline-block;
   color: #0c2340;
   font-size: 32px;
   font-family: gotham-bold;
   margin-bottom: 50px;
}

.support-page h2:after {
    content: "";
    display: block;
    width: inherit;
    height: 3px;
    background: #ca0629;
    margin-top: 5px;
}

.support-page .support-item {
  display: block;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  margin: 15px;
  box-shadow: 0 5px 20px 0px rgb(0 0 0 / 10%);
}


.support-page .support-item-imgdiv {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin: 0 auto 15px;
  border-radius: 50%; 
  box-shadow: 0 5px 20px 0px rgb(0 0 0 / 10%);
}

.support-page .support-item-imgdiv img {
  display: block;
  max-width: 100%;
  max-height: 100%;

  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.support-page h4 {
  font-size: 24px;
  color: #222A41;
  font-family: gotham-book;
  margin: 10px;
}

.support-page .icon-arrow {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-image: url(img/icon-arrow_right-primary.png);
}

.support-type-single {
  position: relative;
  display: block;
  overflow: hidden;
  margin:0 5px;
  text-decoration: none;    
  padding: 15px;
  border-radius: 10px;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition:    all .3s ease-in-out;
  -o-transition:      all .3s ease-in-out;
  -ms-transition:     all .3s ease-in-out;
  transition:         all .3s ease-in-out;
}

.support-type-single:hover {
  box-shadow: -0.518px 1.932px 12px 0px rgb(0 0 0 / 25%);
}

.support-type-imgdiv {
  position: relative;
  display: block;
  overflow: hidden;
  height: 180px;
}

.support-type-imgdiv img {
   display: block;
   min-width: 100%;
   min-height: 100%;
   max-width: 200%;
   max-height: 200%;

   position: absolute;
   top: 50%;
   left: 50%;

   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.support-type-text {
    display: block;
    font-size: 22px;
    color: #151515;
    font-family: gotham-medium;
    position: absolute;
    top: 15px;
    left: 15px;
}

.support-type-single p {
    font-size: 14px;
    color: #151515;
    font-family: gotham-book ;
}

.support-video-content h3 {
    color: #3e3e3e;
    font-size: 22px;
    font-family: 'gotham-bold';
    margin-top: 20px;
}


.support-icon-div {
  position: relative;
  display: block; 
  height: 240px;
  text-decoration: none;
  text-align: center;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition:    all .3s ease-in-out;
  -o-transition:      all .3s ease-in-out;
  -ms-transition:     all .3s ease-in-out;
  transition:         all .3s ease-in-out;
}

.support-icon-div:after {
    content: "";
    display: block;
    border-right: 1px solid #707070;
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 0;
}

.support-icon-section .pure-u-1-2:last-child .support-icon-div:after {
  display: none;
}

.support-icon-div:hover {
  box-shadow: -0.518px 1.932px 12px 0px rgb(0 0 0 / 25%);
}

.support-icon-imgdiv {
    display: block;
    overflow: hidden;
    width: 80px;
    margin: 0 auto;
    padding-top: 50px;
}

.support-icon-imgdiv img {
    display: block;
    max-width: 50px;
    max-height: 50px;
    margin: 0 auto;
}

.support-icon-div h4 {
    color: #3e3e3e;
    font-size: 26px;
    font-family: 'gotham-bold';
    line-height: 240px;
}



/**********************************
      Mobile Responsiveness
**********************************/

@media screen and (max-width: 35.5em) {


  /* Support Items Section  */
  
  .support-page h4 {
      font-size: 14px;
      line-height: 21px;
      margin: 0px;
  }
  
  
  
  /* header Section title  */
  
  .lp-banner-image.support-page .center-div h1 {
      color: #ca0629;
      font-size: 40px;
      font-family: gotham-bold;
      margin-top: 20px;
  }




}

@media screen and (max-width: 48em) {

  /* Banner Section  */

  .lp-banner-header {
    left: 20px;
    right: 20px;
    width: calc(100% - 40px);
  }

  .lp-banner-header h1 {
    font-size: 40px;
  }

  .lp-banner-header p {
    font-size: 16px;
  }




  /* Promo Banner Section  */

 .lp-promo-banner-imgdiv {
    padding-left: 0;
    margin-top: 30px;
    width: 100%;
  } 

  /* Video Banner Section  */

  .support-video-content {
    text-align: center;
  }

  /* Reftype Section  */

  .lp-single-product {
    padding: 0 10px;
  }

  .lp-single-product-name {
    font-size: 15px;
    margin: 10px 5px 20px; 
  }



  /* Promo Banner Section  */
  
  .landing-page .vertical_align_div {
    height: initial;
    min-height: initial;
    margin-top: 30px;
  }
  
  .landing-page .vertical_align_content {
    display: block;
    width: 100%;
  
    position: relative;
     top: 0;
     left: 0;
  
     -webkit-transform: translate(0, 0);
     -moz-transform: translate(0, 0);
     -ms-transform: translate(0, 0);
     -o-transform: translate(0, 0);
     transform: translate(0, 0);
 }


 /* support items Section  */

 .support-icon-section .pure-u-1-2:nth-child(2n) .support-icon-div:after {
    display: none;
  }


}



@media screen and (max-width: 64em)  {


  /* Simple Product Grid */

  .pure-u-md-1-2 .lp-single-product {
      margin-bottom: 40px;
  }
  
  .simple-prod-grid .pure-u-1:first-child .lp-single-product {
    padding-left: 40px;
  }
  
  .simple-prod-grid .pure-u-1:nth-child(4n+1) .lp-single-product {
    padding-left: 40px;
  }
  
  .simple-prod-grid .pure-u-1:nth-child(4n) .lp-single-product {
    padding-right: 40px;
  }



  /* Brands Section */

  .pure-u-1-2 .lp-single-brand {
      margin-bottom: 20px;
  }

  .pure-u-1-2:first-child .lp-single-brand {
      margin-left: 10px;
  }

  .pure-u-1-2:last-child .lp-single-brand {
      margin-right: 10px;
  }



  /* Offers Section */

  .lp-single-offer-text {
    margin-top: -15px;
    margin-left: 70px;
  }



}
 



@media screen and (max-width: 80em) {

  /* General Section */

  .landing-page .max-1200 , .support-page .max-1200 {
    padding: 0 20px;
  }


  /* Offers Section */


  .lp-single-offer-title {
      font-size: 17px;
      margin-top: 18px;
  }

  .lp-single-offer img {
    width: 50px;
  }


}

 